.container

  .row
    .col-md-6
      %h2 TO DO TODAY
    .col-md-6#current-date
      %h2= @time.strftime("%b #{@time.day.ordinalize} of %Y")


  %table.table.vertical-spaced
    %tr
      %th
        Activity
      %th
        Pomodoros

    = render @activities

  .row
    = render partial: 'new_activity'

  .row.vertical-spaced
    %button.btn.btn-primary(id='fn-add-activity') Add activity

.vertical-spacer
